<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Simple auth with codes</title>
	</head>
	<body>
		<h1>Signup</h1>
		<div>
			<form action="/users/create" method="post">
				<div>
					<label for="email">Email address</label>
					<input type="email" name="email" value="" id="email">
				</div>
				<div>
					<label for="username">User Name</label>
					<input type="text" name="username" value="" id="username">
				</div>
				<div>
					<button>Create account</button>
				</div>
			</form>
		</div>

		<h1>Login</h1>
		<div>
			<form action="/users/login" method="post">
				<div>
					<label for="code">Code</label>
					<input type="password" name="code" value="" id="code">
				</div>
				<div>
					<button>Login</button>
				</div>
			</form>
		</div>
	</body>
</html>
