<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Showing the code</title>
	</head>
	<body>
		<h1>Your code is {{code}}</h1>
		<div>
			<a href="/dashboard?code={{code}}">Take me to my dashboard</a>
		</div>
	</body>
</html>
